$light: #fff;
$primary-color: #223a66;
$secondary-color: #10dab7;
$base-color:#6F8BA4;
$title-color:#223a66;
$black:#222;
$gray:#eff0f3;
$secondary-bg:#f4f9fc;
$border-color:#e4e4e4;
$primary-font: 'Exo', sans-serif;
$secondary-font:'Roboto', sans-serif;
$dark: #222;
$text-color: #6F8BA4;
$border-radius: 0;
$box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
$transition: all 0.3s ease;
$font-family: 'Roboto', sans-serif;
$font-family-heading: 'Exo', sans-serif;

$grad-color:linear-gradient(to bottom,#05a5f9,#10dab7);